@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* ALIGN THE LEXICAL CONSTITUENTS *********************************************/

table.constituent {
	border-collapse: collapse;
}

td.daughter {
	vertical-align: top;
	padding: 0;
}

/* NO WRAPPING ***************************************************************/

table.constituent, td.cat {
	white-space: nowrap;
}

/* PADDING IN VISUAL BLOCKS *************************************************/

td.token, td.cat, td.rulecat, td.span-swiper {
	padding-left: 5px;
	padding-right: 5px;
}

td.token, td.rulecat {
	padding-top: 3px;
}

td.cat, td.rulecat {
	padding-bottom: 1px;
}

/* PADDING BETWEEN VISUAL BLOCKS *********************************************/

/* every table.constituent that is the descendant of some table.constituent =
every table.constituent except the outermost one */
table.constituent table.constituent {
	margin-bottom: 8px;
}

td.daughter-right {
	padding-left: 8px;
}

/* PADDING AROUND VISUAL BLOCKS **********************************************/

div.der {
	padding: 8px;
}

/* SPAN SWIPERS: DON'T DISPLAY UNTIL ACTIVATED, THEN VISUALLY DETACH *********/

td.span-swiper {
	display: none;
}

td.span-swiper-active {
	margin-top: 8px;
	display: block;
}

/* RULE SYMBOLS **************************************************************/

div.rulecat {
	display: table;
	width: 100%;
}

div.rulecat div.cat {
	display: table-cell;
}

div.rulecat div.rule {
	display: table-cell;
	text-align: right;
	padding-left: 1em;
	font-size: 90%;
}

/* SUPERSCRIPT AND SUBSCRIPT *************************************************/

div.rule sub {
	margin-left: -0.5em;
}

/* LEXLISTS ******************************************************************/

div.lexlist {
	display: table;
	vertical-align: top;
}

div.lexlist table.lex {
	padding-right: 8px;
	display: table-cell;
}

/* COLORS AND BORDERS ********************************************************/

div.der {
	/* background: #f0f0f0;*/
	/*border: #d0d0d0 solid 1px;*/
	/*border-top: 2px solid #999;*/
	font-family: 'Noto Sans', sans-serif;
	color: #404040;
}

td.rulecat {
	border-top: 2px solid #999;
}

td.span-swiper {
	background: rgb(119, 119, 119); /* Bootstrap default gray */
}

/* CATEGORY STYLING **********************************************************/

td.cat, div.cat {
	font-size: 90%;
}

/* PRINT STYLES **************************************************************/

@media print {
	/* black lines instead of gray areas */

	td.token, td.cat, td.rulecat {
		background: none;
	}

	td.span-swiper {
		display: none;
	}

	div.der {
		color: black;
	}

	td.rulecat {
		border-top: 2px solid black;
	}
}

/* CREATING SPAN BOWS *********************************************************/

table.lex.selected td.span-swiper {
	background: rgb(240, 173, 78); /* bootstrap warning orange */
}

/* DIFFING *******************************************************************/

.diff {
	text-decoration: line-through;
}

td.rulecat.diff {
	border-top: 2px dotted #999;
}

/* FOR DEBUGGING *************************************************************/

table.constituent {
	/*border: 1px solid magenta;*/
}
