@import url('https://fonts.googleapis.com/css?family=Jura:600|Noto+Sans');


/* align the lexical constituents */

table.constituent {
	border-collapse: collapse;
}

td.daughter {
	vertical-align: top;
	padding: 0;
}


/* no wrapping */

table.constituent {
	white-space: nowrap;
}


/* padding in visual blocks */

td.token, td.cat, td.rulecat, td.span-swiper {
	padding-left: 5px;
	padding-right: 5px;
}

td.token, td.rulecat {
	padding-top: 3px;
}

td.cat, td.rulecat {
	padding-bottom: 1px;
}


/* padding between visual blocks */

/* every table.constituent that is the descendant of some table.constituent =
every table.constituent except the outermost one */
table.constituent table.constituent {
	margin-bottom: 8px;
}

td.daughter-right {
	padding-left: 8px;
}


/* padding around visual blocks */

div.der {
	padding: 8px;
}


/* detach span constraint selectables */

td.span-swiper {
	margin-top: 8px;
	display: block;
}


/* align rule symbols */

span.rule {
	float: right;
}


/* superscript and subscript */

span.rule sub {
	margin-left: -0.5em;
}


/* lexlists */

div.lexlist {
	display: table;
}

div.lexlist table.lex {
	padding-right: 8px;
	display: table-cell;
}


/* colors and borders */

div.der {
	/* background: #f0f0f0;*/
	/*border: #d0d0d0 solid 1px;*/
	/*border-top: 2px solid #9d9d9d;*/
	font-family: 'Noto Sans', sans-serif;
	color: #404040;
}

td.rulecat {
	border-top: 2px solid #9d9d9d;
}

td.span-swiper {
	background: #9d9d9d;
}


/* category styling */

td.cat, span.cat {
	font-size: 90%;
}


/* print styles */

@media print {
	/* black lines instead of gray areas */

	td.token, td.cat, td.rulecat {
		background: none;
	}

	td.span-swiper {
		display: none;
	}

	div.der {
		color: black;
	}

	td.token, td.rulecat {
		border-top: 2px solid black;
	}
}


/* creating span BOWs */

span.span-draggable {
	display: block;
}


/* for debugging */

table.constituent {
	/*border: 1px solid magenta;*/
}
