/* body padding */

body {
	padding-bottom: 50px;
}

/* spacing fixes */

div.col-md-9 > h3:first-child {
	margin-top: 0;
}

div.col-md-6 > h2:first-child {
	margin-top: 0;
}

/* controls displayed above the user's derivation */

div#derivation-controls > div {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

div#derivation-controls::after {
	content: '';
	display: block;
	clear: both;
}

/* comments */

h2 span.label {
	font-size: 10px;
}
